*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --color-bg-secondary: rgb(0, 0, 0);
    --color-shadow: rgba(0, 0, 0, 0.7);
    --color-bg: rgba(245, 245, 245);
    --color-border: rgba(0, 0, 0, 0.05);
    --color-pop-up: rgba(0, 0, 0, 0.02);
    --color-font: rgb(88, 88, 88);
    --color-bg-button: rgb(128, 128, 128, .3);
    --color-bg-button-active: rgba(128, 128, 128, 0.7);
    --color-details: goldenrod;

    --marginY-wrapper: 2.5vh;
}

body{
    background-color: var(--color-bg);
}

.wrapper{
    height: calc(100vh - var(--marginY-wrapper) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--color-bg-secondary) 50%, var(--color-bg) 50%);
    margin: var(--marginY-wrapper) auto;
    text-align: center;
}

form{
    position: relative;
    width: max(30%, 350px);
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 2px 0 var(--color-shadow);
    background-color: var(--color-bg);
}

form::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 60px;
    top: 75%;
    left: -2px;
    transition: top, opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
    background: linear-gradient(to top, transparent, var(--color-details), transparent);
    opacity: 0;
}

form:hover::before{
    opacity: 1;
    top: 25%;
}

h1{
    margin: 15px 0;
    width: 100%;
    font-size: 25px;
    border-bottom: 1px solid var(--color-border);
}

span{
    font-size: 10px;
    font-weight: 100;
    margin: 0 10px;
}

input{
    margin: 15px auto;
    padding: 15px 40px;
    font-size: 15px;
    border: 1px solid var(--color-border);
    outline: none;
    box-shadow: 2px 2px 0 var(--color-shadow);
    background-color: var(--color-bg);
}

#password, #confirmPassword{
    letter-spacing: 5px;
}

input[type='submit']{
    width: 120px;
    height: 50px;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    background-color: var(--color-bg-button);
    transition: font-size .1s linear;
    transition: background-color .2s linear;
    color: var(--color-font);
    font-weight: 600;
}

input[type='submit']:active{
    font-size: 15px;
    background-color: var(--color-bg-button-active);
    box-shadow: none;
    transform: translate(2px, 2px);
}

.input-wrapper{
    position: relative;
}

.input-wrapper span:nth-child(1){
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}

.input-wrapper span:nth-child(2){
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.name-label, .password-label, .confirmPassword-label, .email-label{
    position: absolute;
    top: 30px;
    left: 40px;
    color: var(--color-font);
    transition: all .3s ease-in-out;
}

#name:focus-visible + .name-label, #name:valid + .name-label,
#password:focus-visible + .password-label, #password:valid + .password-label,
#confirmPassword:focus-visible + .confirmPassword-label, #confirmPassword:valid + .confirmPassword-label,
#email:focus-visible + .email-label, #email:valid + .email-label{
    transform: translate(-10px, -25px) scale(.8);
}

#name:focus-visible, #name:valid,
#password:focus-visible, #password:valid,
#confirmPassword:focus-visible, #confirmPassword:valid,
#email:focus-visible, #email:valid{
    transition: all .5s ease-in-out;
    border-top: 1px solid var(--color-bg);
}

.div-rules{
    width: 284px;
    margin: 0 auto;
    text-align: left;
}

.div-rules ul{
    list-style: '* ';
    list-style-position: inside;
}

.div-rules ul li{
    padding: 1px 4px;
    font-size: .7rem;
}


